<form method="get" action="/">
    <input class="search-box" type="text" name="url" placeholder="Type a URL" id="url" value="<%= @url %>"/>
    <input type="submit" value="Go" class="submit-button"/>
</form>