<!DOCTYPE html>
<html>
<head>
    <title>Link Analyser <% if @url %>- <%= @url %><% end %></title>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="analyser">
        <header>
            <h1>Link analyser</h1>
        </header>
        <%= yield %>
    </div>
</body>
</html>